<?xml version="1.0" encoding="utf-8"?>
<!-- 注意: 除了手动编辑此文件以外，您还可以使用 Web 管理工具来 
     配置应用程序的设置。可以使用 Visual Studio 中的“网站”->“ASP.NET 配置”
     选项。
     设置和注释的完整列表在
     machine.config.comments 中，该文件通常位于 \Windows\Microsoft.NET\Framework\v2.0.xxxxx\Config 中
 -->
<configuration>
    <appSettings/>
    <connectionStrings/>
    <system.web>
      <pages enableViewState="false" styleSheetTheme="default" validateRequest="false"/>
      <httpRuntime
 executionTimeout="110"
 maxRequestLength="1114096"
 requestLengthDiskThreshold="80"
 useFullyQualifiedRedirectUrl="false"
 minFreeThreads="8"
 minLocalRequestFreeThreads="4"
 appRequestQueueLimit="5000"
 enableKernelOutputCache="true"
 enableVersionHeader="true"
 requireRootedSaveAsPath="true"
 enable="true"
 shutdownTimeout="90"
 delayNotificationTimeout="5"
 waitChangeNotification="0"
 maxWaitChangeNotification="0"
 enableHeaderChecking="true"
 sendCacheControlHeader="true"
 apartmentThreading="false" />


    </system.web>
  <!--信息录入员-->
  <location path="addBook.aspx">
    <system.web>
      <authorization>
        <allow roles="MessageMember"/>
      </authorization>
    </system.web>
  </location>
  <location path="bookList.aspx">
    <system.web>
      <authorization>
        <allow roles="MessageMember"/>
      </authorization>
    </system.web>
  </location>
  <location path="addPublish.aspx">
    <system.web>
      <authorization>
        <allow roles="MessageMember"/>
      </authorization>
    </system.web>
  </location>
  <location path="publish.aspx">
    <system.web>
      <authorization>
        <allow roles="MessageMember"/>
      </authorization>
    </system.web>
  </location>
  <location path="imageBook.aspx">
    <system.web>
      <authorization>
        <allow roles="MessageMember"/>
      </authorization>
    </system.web>
  </location>
  <location path="addImageBook.aspx">
    <system.web>
      <authorization>
        <allow roles="MessageMember"/>
      </authorization>
    </system.web>
  </location>
  <location path="Dialog.aspx">
    <system.web>
      <authorization>
        <allow roles="MessageMember"/>
      </authorization>
    </system.web>
  </location>
  <location path="addBookCategory.aspx">
    <system.web>
      <authorization>
        <allow roles="MessageMember"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="BookCategory.aspx">
    <system.web>
      <authorization>
        <allow roles="MessageMember"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="addTitleCss.aspx">
    <system.web>
      <authorization>
        <allow roles="MessageMember"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="titleCss.aspx">
    <system.web>
      <authorization>
        <allow roles="MessageMember"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--信息录入员-->
  <!--配送员-->
  <location path="orderList.aspx">
    <system.web>
      <authorization>
        <allow roles="SendMember"/>
      </authorization>
    </system.web>
  </location>
  <location path="OrderModify.aspx">
    <system.web>
      <authorization>
        <allow roles="SendMember"/>
      </authorization>
    </system.web>
  </location>
  <!--配送员-->
  <location path="memberList.aspx">
    <system.web>
      <authorization>
        <allow users="admin"/>
      </authorization>
    </system.web>
  </location>
  <location path="UserRoles.aspx">
    <system.web>
      <authorization>
        <allow users="admin"/>
      </authorization>
    </system.web>
  </location>
</configuration>
