<?xml version="1.0" encoding="utf-8"?>
<!--修改此文件不会导致应用Web程序重启-->
<appSettings>
  <!--是否允许用户注册,配置true|false-->
  <add key="AllowReg" value="true" />
  <!--用户注册后是否需要审核,配置true|false-->
  <add key="NeedApproved" value="false" />
  <!--是否启用用户组功能,配置true|false-->
  <add key="AllowUserGroup" value="true" />
  <!--是否启用业务参数功能,配置true|false-->
  <add key="AllowBizParameter" value="false" />
</appSettings>