<?xml version="1.0"?>
<configuration>
  <appSettings file="Membership.config">
    <add key="WebDAL" value="Jiaen.SQLServerDAL"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=CHENJING-PC;database=liveportal;uid=sa;pwd=sa;" providerName="System.Data.SqlClient"/>
    <add name="SqlConnection" connectionString="Data Source=CHENJING-PC;database=liveportal;uid=sa;pwd=sa;" providerName="System.Data.SqlClient"/>
    <add name="MemberShipDAL.Properties.Settings.WMFConnectionString" connectionString="Data Source=CHENJING-PC;database=liveportal;uid=sa;pwd=sa;" providerName="System.Data.SqlClient"/>
    <add name="MemberShipDAL.Properties.Settings.AspNetMembershipSql" connectionString="Data Source=CHENJING-PC;database=liveportal;uid=sa;pwd=sa;" providerName="System.Data.SqlClient"/>
    <add name="LivePortalConnectionString" connectionString="Data Source=CHENJING-PC;database=liveportal;uid=sa;pwd=sa;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <urlMappings enabled="true">
      <add url="~/user/membership.aspx" mappedUrl="~/user/orderInfo.aspx"/>
      <add url="~/admin/todayOrder.aspx" mappedUrl="~/admin/orderList.aspx?state=6"/>
    </urlMappings>
    <pages enableEventValidation="false" styleSheetTheme="default" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="jiaen" src="~/Control/bookList.ascx" tagName="bookList"/>
        <add tagPrefix="jiaen" src="~/Control/addReview.ascx" tagName="addReview"/>
        <add tagPrefix="jiaen" src="~/Control/cheapNum.ascx" tagName="cheapNum"/>
        <add tagPrefix="jiaen" src="~/Control/cheapTop.ascx" tagName="cheapTop"/>
        <add tagPrefix="jiaen" src="~/Control/catBook.ascx" tagName="catBook"/>
        <add tagPrefix="jiaen" src="~/Control/ViewDefaultBanner.ascx" tagName="ViewDefaultBanner"/>
        <add tagPrefix="jiaen" src="~/Control/userLeftMenu.ascx" tagName="userLeftMenu"/>
        <add tagPrefix="jiaen" src="~/Control/footer.ascx" tagName="footer"/>
        <add tagPrefix="jiaen" src="~/Control/ViewLink.ascx" tagName="ViewLink"/>
        <add tagPrefix="jiaen" src="~/Control/ViewDefaultBook.ascx" tagName="ViewDefaultBook"/>
        <add tagPrefix="jiaen" src="~/Control/ViewDynamic.ascx" tagName="ViewDynamic"/>
        <add tagPrefix="jiaen" src="~/Control/ViewDnamicInfo.ascx" tagName="ViewDnamicInfo"/>
        <add tagPrefix="jiaen" src="~/Control/newAndGood.ascx" tagName="newAndGood"/>
        <add tagPrefix="jiaen" src="~/Control/ViewTopDown.ascx" tagName="ViewTopDown"/>
        <add tagPrefix="jiaen" src="~/Control/ViewTopBook.ascx" tagName="ViewTopBook"/>
        <add tagPrefix="jiaen" src="~/Control/ViewTopDynamic.ascx" tagName="ViewTopDynamic"/>
        <add tagPrefix="jiaen" src="~/Control/DImageBook.ascx" tagName="DImageBook"/>
        <add tagPrefix="jiaen" src="~/Control/downClass.ascx" tagName="downClass"/>
        <add tagPrefix="jiaen" src="~/Control/authorLeft.ascx" tagName="authorLeft"/>
        <add tagPrefix="jiaen" src="~/Control/help.ascx" tagName="help"/>
        <add tagPrefix="FTB" namespace="FreeTextBoxControls" assembly="FreeTextBox"/>
        <add tagPrefix="CE" namespace="CuteEditor" assembly="CuteEditor"/>
        <add tagPrefix="jiaen" namespace="TW.Web.UI" assembly="Jiaen.Controls"/>
        <add tagPrefix="jiaen" namespace="SiteUtils" assembly="Jiaen.Controls"/>
        <add tagPrefix="jiaen" namespace="Jiaen.Controls" assembly="Jiaen.Controls"/>
      </controls>
    </pages>
    <httpRuntime executionTimeout="110" maxRequestLength="114096" requestLengthDiskThreshold="80" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="5000" enableKernelOutputCache="true" enableVersionHeader="true" requireRootedSaveAsPath="true" enable="true" shutdownTimeout="90" delayNotificationTimeout="5" waitChangeNotification="0" maxWaitChangeNotification="0" enableHeaderChecking="true" sendCacheControlHeader="true" apartmentThreading="false"/>
    <authentication mode="Forms">
      <forms loginUrl="login.aspx" name=".CommunityServer"/>
    </authentication>
    <authorization>
      <allow roles="Admin"/>
      <allow users="?"/>
    </authorization>
    <machineKey validationKey="F9D1A2D3E1D3E2F7B3D9F90FF3965ABDAC304902" decryptionKey="F9D1A2D3E1D3E2F7B3D9F90FF3965ABDAC304902F8D923AC" validation="SHA1"/>
    <anonymousIdentification enabled="true" cookieName=".ANONYMOUS" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All"/>
    <!--为了兼容其它数据库的Ｐｒｏｖｉｄｅｒ写的，用的还都是默认的Ｐｒｏｖｉｄｅｒ-->
    <membership defaultProvider="Sql2005Provider" userIsOnlineTimeWindow="20">
      <providers>
        <add name="Sql2005Provider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="SqlConnection" applicationName="LivePortal" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"/>
      </providers>
    </membership>
    <profile defaultProvider="Sql2005Provider">
      <providers>
        <add name="Sql2005Provider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="SqlConnection"/>
      </providers>
    </profile>
    <roleManager defaultProvider="Sql2005Provider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <clear/>
        <add name="Sql2005Provider" type="System.Web.Security.SqlRoleProvider" connectionStringName="SqlConnection" applicationName="LivePortal"/>
      </providers>
    </roleManager>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off"/>
  </system.web>
  <location path="admin">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="user">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="shoppingorder.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="tgshoppingorder.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="shoppingway.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="shoppingComplete.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="shoppingdetail.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <system.net>
    <mailSettings>
      <!--配置好此选项才能发邮件-->
      <smtp from="support@51aspx.com">
        <network host="smtp.126.com" password="64957997" port="25" userName="xzzhangxinghao"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <handlers>
      <remove name="WebServiceHandlerFactory-ISAPI-2.0"/>
    </handlers>
  </system.webServer>
</configuration>